<% if (totalPages >= 32) { %>
  <div class="pagination-container">
    <a
      class="<%= !currentPage || currentPage === 1 ? 'disabled' : '' %>"
      href="?<%= queryString %>&page=1"
    ><<</a>
    <a
      class="<%= previous ? '' : 'disabled' %>"
      href="?<%= queryString %>&<%= currentPage > 1 ? `page=${currentPage - 1}` : '/' %>"
    ><</a>
    <% let startIndex = currentPage - 4 < 1 ? 1 : currentPage - 4 %>
    <% for(let i = startIndex; i < startIndex + 10; i++) { %>
      <% if (i <= totalPages) { %>
        <a
          class="<%= (!currentPage && i === 1) || currentPage === i ? 'current' : '' %>"
          href="?<%= queryString %>&page=<%= i %>"
        ><%= i %></a>
      <% } %>
    <% } %>
    <a
      class="<%= next ? '' : 'disabled' %>"
      href="<%= currentPage < totalPages ? `?${queryString}&page=${currentPage ? currentPage + 1 : 2}` : '/' %>"
    >></a>
    <a
      class="<%= currentPage === totalPages ? 'disabled' : '' %>"
      href="?<%= queryString %>&page=<%= totalPages %>"
    >>></a>
    <div class="goto-container">
      Goto Page: <input type="number" onkeydown="gotoKeydownHandler(event, '<%= totalPages %>')" />
    </div>
  </div>
<% } %>
